@import "tailwindcss";

::-webkit-color-swatch,
::-moz-color-swatch {
	border-color: transparent;
}

strong {
	font-family: MinecraftBold;
	font-weight: 100;
}

button {
	cursor: pointer;
}

.mc {
	font-family: Minecraft;
}

.tiptap {
	@apply h-full p-4;
	@apply focus:outline-none;
	font-family: Minecraft;
	@apply text-xl;
}

.tiptap p.is-editor-empty:first-child::before {
	color: #7f7f7f;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.clickEvent {
	background-color: #3c3c40;
	border-bottom: solid #ff5555 2px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.hoverEvent {
	background-color: #3c3c40;
	border-bottom: solid #ffff55 2px;
	padding-top: 4px;
}

.obfuscated {
	filter: blur(2px);
}

.color-picker {
	margin: none;
}

.nomob {
	@apply hidden md:inline;
}
